body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "h h h"
    "t c r"
    "b c r"
    "f f r";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

.header {
  grid-area: h;
  background: #4a90a4;
  padding: 20px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title-box {
  background: #fff;
  min-width: 250px;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: left;
  box-sizing: border-box;
}

.header .left-text {
  color: #fff;
  font-size: 20px;
}

.left-top { 
  grid-area: t; 
  background: #f4d1ae;
  padding: 10px; 
}

.left-top p{ 
  text-align: left; 
}

.center {
  grid-area: c;
  background: #fff; 
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.center img {
  max-width: 70%;
  height: auto;
  margin-top: 15px;
}

.center p {
  text-align: center;
}

.right { 
  grid-area: r; 
  background: #e6f3ff;
  padding: 10px; 
  display: flex;
  flex-direction: column;
}

.right p {
  text-align: right;
}

.left-bottom { 
  grid-area: b; 
  background: #a8d5a8; 
  padding: 10px; 
}

.left-bottom p {
    text-align: left;
}

.footer {
  grid-area: f;
  background: #87ceeb;
  padding: 20px;
  min-height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .title-box {
  background: #fff;
  width: 330px;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: left;
  box-sizing: border-box;
  flex-shrink: 0;
  align-self: flex-start;
}

.footer .title-box h4 {
    text-align: right;
}

.footer .right-text {
  color: #bbff00;
  text-align: right;
}

h1 { margin: 5px 0; }
p { 
    text-align: justify; 
    font-size: 20px;
}